<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palapapos">

    <uses-permission android:name="android.permission.INTERNET" />
    android:hardwareAccelerated = "true"
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Nasional.Nasional"
            android:label="@string/title_activity_nasional"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Nasional.NasionalTerkini" />
        <activity android:name=".Nasional.NasionalTerpopuler" />
        <activity
            android:name=".Terkini"
            android:label="@string/title_activity_terkini"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Terpopuler"
            android:label="@string/title_activity_terpopuler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrivacyPolicy"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TermOfUse"
            android:label="@string/title_activity_term_of_use"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoIklan"
            android:label="@string/title_activity_info_iklan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Redaksi"
            android:label="@string/title_activity_redaksi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Nusantara.Nusantara"
            android:label="@string/title_activity_nusantara"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Nusantara.NusantaraTerkini" />
        <activity android:name=".Nusantara.NusantaraTerpopuler" />
        <activity
            android:name=".Megapolitan.Megapolitan"
            android:label="@string/title_activity_megapolitan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Megapolitan.MegapolitanTerkini" />
        <activity android:name=".Megapolitan.MegapolitanTerpopuler" />
        <activity
            android:name=".Politik.Politik"
            android:label="@string/title_activity_politik"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Politik.PolitikTerkini" />
        <activity android:name=".Politik.PolitikTerpopuler" />
        <activity
            android:name=".Ekonomi.Ekonomi"
            android:label="@string/title_activity_ekonomi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Ekonomi.EkonomiTerkini" />
        <activity android:name=".Ekonomi.EkonomiTerpopuler" />
        <activity
            android:name=".Hukum.Hukum"
            android:label="@string/title_activity_hukum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Hukum.HukumTerkini" />
        <activity android:name=".Hukum.HukumTerpopuler" />
        <activity
            android:name=".Komunitas.Komunitas"
            android:label="@string/title_activity_komunitas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Komunitas.KomunitasTerkini" />
        <activity android:name=".Komunitas.KomunitasTerpopuler" />
        <activity
            android:name=".Budaya.Budaya"
            android:label="@string/title_activity_budaya"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Budaya.BudayaTerkini" />
        <activity android:name=".Budaya.BudayaTerpopuler" />
        <activity
            android:name=".Artikel.Artikel"
            android:label="@string/title_activity_artikel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Artikel.ArtikelTerkini" />
        <activity android:name=".Artikel.ArtikelTerpopuler" />
        <activity
            android:name=".Olahraga.Olahraga"
            android:label="@string/title_activity_olahraga"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Olahraga.OlahragaTerkini" />
        <activity android:name=".Olahraga.OlahragaTerpopuler" />
        <activity
            android:name=".Video.Video"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Video.VideoTerkini" />
        <activity android:name=".Video.VideoTerpopuler"></activity>
    </application>

</manifest>