<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palapapos">

    <uses-permission android:name="android.permission.INTERNET" />
    android:hardwareAccelerated = "true"
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Nasional.Nasional"
            android:label="@string/title_activity_nasional"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrivacyPolicy"
            android:label="@string/title_activity_privacy_policy"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TermOfUse"
            android:label="@string/title_activity_term_of_use"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoIklan"
            android:label="@string/title_activity_info_iklan"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Redaksi"
            android:label="@string/title_activity_redaksi"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Nusantara.Nusantara"
            android:label="@string/title_activity_nusantara"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Megapolitan.Megapolitan"
            android:label="@string/title_activity_megapolitan"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Politik.Politik"
            android:label="@string/title_activity_politik"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ekonomi.Ekonomi"
            android:label="@string/title_activity_ekonomi"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hukum.Hukum"
            android:label="@string/title_activity_hukum"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Komunitas.Komunitas"
            android:label="@string/title_activity_komunitas"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Budaya.Budaya"
            android:label="@string/title_activity_budaya"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Artikel.Artikel"
            android:label="@string/title_activity_artikel"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Olahraga.Olahraga"
            android:label="@string/title_activity_olahraga"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Video.Video"
            android:label="@string/title_activity_video"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Home" />
        <activity android:name=".Artikel.ArtikelHome" />
        <activity android:name=".Budaya.BudayaHome" />
        <activity android:name=".Hukum.HukumHome" />
        <activity android:name=".Komunitas.KomunitasHome" />
        <activity android:name=".Megapolitan.MegapolitanHome" />
        <activity android:name=".Nasional.NasionalHome" />
        <activity android:name=".Nusantara.NusantaraHome" />
        <activity android:name=".Olahraga.OlahragaHome" />
        <activity android:name=".Politik.PolitikHome" />
        <activity android:name=".Ekonomi.EkonomiHome"></activity>
    </application>

</manifest>