<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palapapos">

    <uses-permission android:name="android.permission.INTERNET" />
    android:hardwareAccelerated = "true"
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Nasional.Nasional"
            android:label="@string/title_activity_nasional"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Nasional.NasionalTerkini" />
        <activity android:name=".Nasional.NasionalTerpopuler" />
        <activity
            android:name=".Terkini"
            android:label="@string/title_activity_terkini"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Terpopuler"
            android:label="@string/title_activity_terpopuler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrivacyPolicy"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TermOfUse"
            android:label="@string/title_activity_term_of_use"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoIklan"
            android:label="@string/title_activity_info_iklan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Redaksi"
            android:label="@string/title_activity_redaksi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>